@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply overflow-x-hidden;
}

body {
    @apply bg-zinc-950 text-white selection:text-black selection:bg-white;
}

h1 {
    @apply text-5xl font-bold;
}

h2 {
    @apply text-4xl font-bold;
}

h3 {
    @apply text-3xl font-semibold;
}

h4 {
    @apply text-2xl font-semibold;
}

h5 {
    @apply text-xl font-semibold;
}

h6 {
    @apply text-lg font-semibold;
}

p,
li {
    @apply text-zinc-400;
}

ol {
    @apply list-decimal list-inside;
}

ul {
    @apply list-inside list-disc;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

pre {
    @apply overflow-auto px-4 py-3 rounded-lg border border-zinc-600;
}

[data-rehype-pretty-code-fragment] code {
    @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
    counter-reset: line;
    box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
    @apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-slate-500 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
    @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-zinc-200 border-zinc-600 bg-zinc-900;
}
[data-rehype-pretty-code-title] + pre {
    @apply mt-0 rounded-t-none border-t-0;
}
